.square {
    width: 60px;
    height: 60px;
    background-color: #f5b650;
    border: 1px solid #7a5231;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
}

.square:hover {
  background-color: #e0c9a5;
}

.square.highlighted {
  background-color: #e91616;
  border: 2px solid #306030;
}

.board-container {
  display: flex;
  flex-direction: column;
  border: 2px solid #5a3c21;
  width: fit-content;
  margin: 20px auto;
}

.board-row {
  display: flex;
}